.prog{
    width: 60px;
    height: 60px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.prog:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: .3em solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
}
.prog > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.prog .prog-left{
    left: 0;
}
.prog .prog-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: .3em;
    border-style: solid;
    position: absolute;
    top: 0;
}
.prog .prog-left .prog-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.prog .prog-right{
    right: 0;
}
.prog .prog-right .prog-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}

.prog .prog-value{
    width: 90%;
    height: 0%;
    border-radius: 50%;
    background: #ffffff;
    font-size: 1em;
    color:  #35a135;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: -60%;
    left: 5%;
}
.prog.blue .prog-bar{
    border-color: #35a135;
}
.prog.blue .prog-left .prog-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}

.enrol{
    
    width: 145%;
    margin-left: -4.6em
}




@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}
