@tailwind base;
@tailwind utilities;
@tailwind components;
@tailwind variants;

@font-face {
    font-family: Pacifico;
    src: url('./fonts/Pacifico-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}
@font-face {
    font-family: BebasNeue;
    src: url('./fonts/BebasNeue-Regular.ttf');
}   
@font-face {
    font-family: Lobster;
    src: url('./fonts/Lobster-Regular.ttf');
}
@font-face {
    font-family: Alegreya_Sans;
    src: url('./fonts/static/AlegreyaSans-Thin.ttf');
}
@font-face {
    font-family: Mulish;
    src: url('./fonts/Mulish.ttf');
}
@font-face {
    font-family: Museo;
    src: url('./fonts/Museo.ttf');
}
@font-face {
    font-family: Maven;
    src: url('./fonts/Maven_Pro/static/MavenPro-Regular.ttf');
}
@font-face {
    font-family: Sora;
    src: url('./fonts/Sora/static/Sora-Regular.ttf');
}
@font-face {
    font-family: Outfit;
    src: url('./fonts/Outfit/static/Outfit-Regular.ttf');
}